.step-documents {
  &__title {
    margin-bottom: 24px;
    margin-top: 24px;
  }

  &__docs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 420px;

    &-item {
      display: grid;
      grid-template-columns: 41px 1fr 32px;
      padding: 12px;
      gap: 12px;
      border-radius: 16px;
      border: 1px solid #CFD5D9;
      background-color: #F1F4F6;

      &-name {
        display: flex;
        flex-direction: column;
        color: #212122;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 19.2px */

        &-size {
          color: #6A6D71;
          font-size: 14px;
        }
      }
    }
  }
}
